/* Imports */
@import url(global.css);
/* @import url(project.css); */
/* @import url(utility.css); */



/* ----- Utility Class ----- */
.centerContent{
    display: block;
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}
.centerContentWide{
    display: block;
    width: 100%;
    max-width: 1068px;
    padding: 0 20px;
    margin: 0 auto;
}
.disregardParentPadding{
    position: relative;
    left: calc(-1 * var(--smallGap));
    width: calc(100% + 2*var(--smallGap));
    max-width: calc(100% + 2*var(--smallGap));
}

.marginBottomBig{
    margin-bottom: 300px;
}
.marginBottomMedium{
    margin-bottom: 170px;
}
.marginBottomSmall{
    margin-bottom: 50px;
}


/* ----- Global ----- */
main{
    padding: 0 var(--smallGap);
}
#mainContent{
    max-width: none;
}


/* ----- 3d render hero ----- */
spline-viewer{
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 90vh;
    max-height: 90svh;
    margin-top: -84px;
    margin-bottom: -120px;
    width: calc(100% + 2*var(--smallGap));
    z-index: 0;
}
spline-viewer.disable{
    display: none;
}

.darkCovers{
    z-index: 0;
    background-color: var(--background);
    /* background-color: red; */
}
#darkCover1{
    height: 140px;
    position: relative;
    margin-bottom: -120px;
}

/* Fall Back Img */
#fallbackImg{
    margin-top: -40px;
    margin-bottom: -80px;
    display: none;
}
#fallbackImg img{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: top;
}

.sectionHeader{
    padding-top: 50px;
    margin-bottom: 10px;
}


/* top nav bar */


/* Project background */
h1{
    font-size: 70px;
    margin: 0;
}
h2{
    margin-bottom: 140px;
}
#Background{
    position: relative;
    z-index: 1;
}

#moreProjectsSection > h2{
    margin-bottom: 60px;
}

@media only screen and (max-width: 767px), 
screen and (max-height: 480px){
    #fallbackImg{
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;
    }
    #fallbackImg img{
        object-fit: contain;
    }

    #Background h1{
        font-size: 30px;
    }
    #Background h2{
        font-size: 24px;
        margin-bottom: 40px;
    }

}