/* Imports */
@import url(global.css);
/* @import url(project.css); */
/* @import url(utility.css); */



/* ----- Utility Class ----- */
.centerContent{
    display: block;
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}
.centerContentWide{
    display: block;
    width: 100%;
    max-width: 1068px;
    padding: 0 20px;
    margin: 0 auto;
}

.marginBottomBig{
    margin-bottom: 300px;
}
.marginBottomMedium{
    margin-bottom: 170px;
}
.marginBottomSmall{
    margin-bottom: 50px;
}


/* ----- Global ----- */
main{
    padding: 0;
}
#mainContent{
    max-width: none;
}


/* ----- 3d render hero ----- */
spline-viewer{
    position: relative;
    min-height: 600px;
    max-height: 90vh;
    max-height: 90svh;
    margin-top: -80px;
    margin-bottom: -120px;
    width: 100%;
    z-index: 0;
}
spline-viewer.disable{
    display: none;
}

.darkCovers{
    z-index: 0;
    background-color: var(--background);
    /* background-color: red; */
}
#darkCover1{
    height: 20px;
    position: relative;
}
#darkCover2{
    position:absolute;
    height: 140px;
    width: 100%;
}

/* Fall Back Img */
#fallbackImg{
    margin-top: -40px;
    margin-bottom: -80px;
    display: none;
}
#fallbackImg img{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: top;
}

.sectionHeader{
    padding-top: 50px;
    margin-bottom: 10px;
}


/* top nav bar */
#topNav{
    margin-top: 25px;
}

/* Project background */
#Background{
    margin-top: 25px;
}

@media only screen and (max-width: 767px), 
screen and (max-height: 480px){
    #fallbackImg{
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;
    }
    #fallbackImg img{
        object-fit: contain;
    }
}